@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Gowun+Dodum&display=swap");
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

[hidden] {
  display: none; }

menu,
ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

img {
  display: block; }

html {
  font-size: 1vw; }

body {
  font-size: 100%;
  font-family: 'Gowun Batang', serif;
  font-family: 'Gowun Dodum', sans-serif;
  font-weight: 500; }
  @media (min-width: 0px) {
    body .navbar {
      height: 113px;
      width: 100%;
      display: flex;
      justify-content: center;
      z-index: 1;
      position: relative; }
      body .navbar .navbar_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 93vw; }
        body .navbar .navbar_wrap .navbar__logo {
          width: 20vw; }
        body .navbar .navbar_wrap .navbar__list {
          display: none; }
        body .navbar .navbar_wrap .fas {
          font-size: 6vw;
          color: white; }
    body .main {
      position: absolute;
      top: 0px; }
      body .main .one-page-wrap .one-page__background_pc {
        display: none; }
      body .main .one-page-wrap .one-page__background_m {
        width: 100vw; }
      body .main .one-page-wrap .one-page__content {
        width: 100vw;
        position: absolute;
        top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        body .main .one-page-wrap .one-page__content .intro-text {
          z-index: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 50vw;
          margin-top: 100px;
          color: white; }
          body .main .one-page-wrap .one-page__content .intro-text img {
            width: 32rem;
            margin: 0px; }
          body .main .one-page-wrap .one-page__content .intro-text h3 {
            margin-top: 40px;
            font-size: 7.5rem; }
          body .main .one-page-wrap .one-page__content .intro-text p {
            margin-top: 40px;
            text-align: center;
            font-size: 3.8rem; }
        body .main .one-page-wrap .one-page__content .mobile-img {
          z-index: 1; }
          body .main .one-page-wrap .one-page__content .mobile-img img {
            margin-top: 80px;
            width: 80rem; }
      body .main .two-page-wrap {
        position: relative; }
        body .main .two-page-wrap .two-page__background_pc {
          display: none; }
        body .main .two-page-wrap .two-page__background_m {
          width: 100vw; }
        body .main .two-page-wrap .two-page__content .content-text-wrap1 {
          width: 100vw;
          height: 90vh;
          position: absolute;
          text-align: center;
          top: 0;
          color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
          body .main .two-page-wrap .two-page__content .content-text-wrap1 .circle {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50rem;
            height: 50rem;
            border: 3px solid #fff;
            border-radius: 50%;
            margin-bottom: 30px; }
            body .main .two-page-wrap .two-page__content .content-text-wrap1 .circle .ft01 {
              font-size: 4rem;
              margin-bottom: 5rem; }
            body .main .two-page-wrap .two-page__content .content-text-wrap1 .circle .ft02 {
              font-size: 10rem; }
          body .main .two-page-wrap .two-page__content .content-text-wrap1 .ft03 {
            font-size: 5rem;
            text-align: center; }
        body .main .two-page-wrap .two-page__content .content-text-wrap2 {
          display: none; } }
  @media screen and (min-width: 1000px) {
    body .navbar .navbar_wrap {
      display: flex;
      width: 70%;
      justify-content: space-between; }
      body .navbar .navbar_wrap .navbar__logo {
        width: 135px; }
      body .navbar .navbar_wrap .navbar__list {
        display: flex;
        font-size: 17px; }
        body .navbar .navbar_wrap .navbar__list a {
          margin-left: 1.3rem;
          color: white; }
      body .navbar .navbar_wrap .fas {
        display: none; }
    body .main .one-page-wrap .one-page__background_pc {
      width: 100vw;
      display: flex; }
    body .main .one-page-wrap .one-page__background_m {
      display: none; }
    body .main .one-page-wrap .one-page__content {
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: center;
      top: 30vh; }
      body .main .one-page-wrap .one-page__content .intro-text {
        width: 35rem;
        align-items: center; }
        body .main .one-page-wrap .one-page__content .intro-text img {
          width: 12.5rem; }
        body .main .one-page-wrap .one-page__content .intro-text h3 {
          margin-top: 20px;
          margin: 45px 0px 26px 23px;
          font-size: 30px; }
        body .main .one-page-wrap .one-page__content .intro-text p {
          margin-top: 20px;
          text-align: left;
          font-size: 16px;
          margin-left: 23px;
          letter-spacing: -0.5px;
          line-height: 30px; }
      body .main .one-page-wrap .one-page__content .mobile-img img {
        width: 38rem;
        margin: 0px; }
    body .main .two-page-wrap .two-page__background_pc {
      width: 100vw;
      display: flex; }
    body .main .two-page-wrap .two-page__background_m {
      display: none; }
    body .main .two-page-wrap .two-page__content .content-text-wrap1 .circle {
      width: 20rem;
      height: 20rem;
      border: 3px solid #fff;
      border-radius: 50%; }
      body .main .two-page-wrap .two-page__content .content-text-wrap1 .circle .ft01 {
        font-size: 20px;
        margin-bottom: 0px; }
      body .main .two-page-wrap .two-page__content .content-text-wrap1 .circle .ft02 {
        font-size: 80px; } }
