a {
    text-decoration: none;
    color: white;
}

img {
    display: block;
}
@media screen and (max-width: 768px) {
    .navbar {
        border: 1px solid red;
        .navbar_wrap {
            display: flex;
            width: 100vw;
            justify-content: space-between;
         

            .navbar__logo {
           
            }

            .navbar__list {
                display: none;
            }

        }
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    z-index: 1;
    position: relative;

    .navbar_wrap {
        display: flex;
        width: 70%;
        justify-content: space-between;


        .navbar__logo {
            img {
                width: 175px;
            }
        }

        .navbar__list {
            display: flex;

            align-items: center;

            li {
                padding: 10px 30px;
                font-weight: 900;
                letter-spacing: -1px;
            }

        }

        .fas {
            display: flex;
            align-items: center;
            font-size: 30px;
            color: white;
        }
    }



}

.main {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;

    .one-page-wrap {
        margin: 0px;
        padding: 0px;

        .one-page__content {
            display: flex;
            position: absolute;
            top: 19.7rem;
            left: 18rem;
            z-index: 1;

            .mobile-img {
                img {

                    width: 35.5rem;
                }
            }

            .intro-text {
                margin-left: 80px;
                color: white;

                img {
                    width: 12.5rem;

                }

                h3 {
                    margin: 45px 0px 26px 23px;
                    font-size: 2.5rem;
                }

                p {
                    margin-left: 23px;
                    letter-spacing: -0.5px;
                    line-height: 30px;
                }

            }
        }

    }

    .two-page-wrap {
        position: relative;
        height: 100%;

        .two-page__content {
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0px;
            color: #fff;

            .col-lg-12 {
                display: flex;
                flex-direction: column;
                align-items: center;

                .circle-lg {
                    width: 342px;
                    height: 342px;
                    text-align: center;
                    background-color: transparent;
                    border: 5px solid #fff;
                    padding: 0;

                    margin: 0 auto;
                    border-radius: 50%;

                    .ft01 {
                        margin-bottom: 10px;
                        margin-top: 85px;
                        font-size: 26px;
                        letter-spacing: -0.2px;
                        line-height: 24px;
                    }

                    .ft02 {
                        font-size: 67px;
                        letter-spacing: -0.1px;
                        line-height: 200px;


                    }

                }

                .ft03 {

                    font-size: 29px;
                    margin-top: 20px;
                    margin-bottom: 10px;

                    letter-spacing: -0.2px;
                    line-height: 52px;
                }
            }

            .content-row {
                display: flex;
                margin-top: 30px;


                .col-sm-3 {
                    width: 268px;
                    display: flex;
                    flex-direction: column;

                    align-items: center;
                    padding: 0px 15px;

                    img {
                        height: 60px;
                    }

                    h3 {
                        margin-top: 10px;
                    }

                    ul {
                        margin-top: 30px;

                        li {
                            text-align: center;

                            .MG050 {
                                font-size: 16px;
                            }
                        }
                    }


                }


            }
        }
    }

    .three-page-wrap {
        position: relative;


        .three-page__content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            position: absolute;
            top: 0px;

            .content__top {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    font-size: 20px;
                }

                h2 {
                    font-size: 68px;
                }

                h1 {
                    font-size: 46px;
                }
            }

            .content__bot {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 70px;

                h3 {
                    font-size: 32px;
                }

                p {
                    text-align: center;
                    margin-top: 30px;
                    font-size: 25px;
                }
            }
        }
    }

    .four-page-wrap {
        height: 100%;
        width: 100%;
        color: white;
        background-color: green;

        .four-page__background {}

        .four-page__content {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 67px;
            }

            .text-center {
                display: flex;
                flex-direction: column;
                align-items: center;


                .MG070 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 26px;
                    margin: 10px;
                }

                .img-responsive {
                    width: 1069px;
                    height: 142px;
                    margin: 100px 30px 40px;
                }

                .revie_web {
                    display: flex;

                    .col-sm-4 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 300px;

                        .reset-img {
                            margin: 20px;
                            width: 66px;
                        }

                        p {
                            text-align: center;

                            small {
                                margin: 6px;
                                font-size: 16px;
                            }
                        }
                    }


                }

                .col-sm-12 {
                    >img {
                        width: 300px;
                    }
                }
            }


        }
    }
}

